@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,500;0,700;1,400&display=swap');

:root{
    --main-font: 'Roboto', sans-serif;
    --secondary-font: cursive;
    --body-font: 'Roboto', sans-serif;
    --main-font-color-dark: #37474F;
    --secondary-font-color:#1565C0;
    --body-font-color: #424242;
}

*,
*::before,
*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-family: var(--body-font);
    font-size: 10px;
    color: var(--body-font-color);
    scroll-behavior: smooth;
    overflow-x: hidden;
}

/* Nav bar styling */

.navbar{
    position: sticky;
    width: 100%;
    background: #ffffff;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.navbar a{
    font-family: 'Ubuntu', sans-serif;
    padding: 15px 0;
}

.max-width{
    max-width: 1300px;
    padding: 0 80px;
}

.navbar .max-width{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar .logo a{
    color: #707070;
    font-size: 35px;
    font-weight: 600;
    text-decoration: none;
}

.navbar .menu li{
    list-style: none;
    display: inline-block;
}

.navbar .menu li a{
    color: #707070;
    font-size: 18px;
    font-weight: 500;
    margin-left: 25px;
    text-decoration: none;
}

/* Landing Image */
.home{
    height: 100vh;
    color: #707070;
    min-height: 500px;
    font-family: 'Ubuntu', sans-serif;
    display: flex;
    align-items: center;
    place-items: center;
}

.home .home-img .home-pic{
    width: 550px;
}

.home .home-content {
    min-height: 400px;
}

.home .home-content .text-1{
    font-size: 18px;
    color: #FFAA00;
    font-family:'Ubuntu', sans-serif;
}

.home .home-content .text-2{
    font-size: 30px;
    font-weight: 600;
    color:#705ECE ;
}

.home .home-content .text-3{
    font-size: 24px;
}

span{
    color: crimson;
}

.btn-rounded{
    border-radius: 40px !important;
}

.btn-lg{
    width: 100px !important;
    height: 40px !important;
}

/* About Landing Section styling*/

.about .text-1{
    color: #FFAA00;
    font-family:'Ubuntu', sans-serif;
    font-size: 40px;
    text-align: center;
}