@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,500;0,700;1,400&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

/* Nav bar Styling */
.navbar{
    position: sticky;
    width: 100%;
    padding: 15px 0;
    background: #ffffff;
    font-family: 'Ubuntu', sans-serif;
}

.max-width{
    max-width: 1300px;
    padding: 0 80px;
    margin: auto;
}

.navbar .max-width{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar .logo a{
    color: #707070;
    font-size: 35px;
    font-weight: 600;
}

.navbar .menu li{
    list-style: none;
    display: inline-block;
}

.navbar .menu li a{
    color: #707070;
    font-size: 18px;
    font-weight: 500;
    margin-left: 25px;
}

/* home section styling */

.home{
    height: 100vh;
    color: #707070;
    min-height: 500px;
    font-family: 'Ubuntu', sans-serif;
    display: flex;

}

.home .home-img .home-pic{
    width: 500px;
}

.home .max-width{
    margin: auto 0 auto 40px;
}

.home .home-content .text-1{
    font-size: 27px;
}

.home .home-content.text-2{
    font-size: 75px;
    font-weight: 600;
    margin-left: -3px;
}

.home .home-content .text-3{
    font-size: 40px;
    margin: 5px 0;
}