
/*css variables*/

/* Start Navigation */
@import url(../css/partials/_variables.css);

@import url(../css/partials/_global.css);

.header_area .main-menu .navbar-brand{
    padding: 0 2rem 0 5rem;
}

.header_area .main-menu .navbar{
    padding: 1rem 4rem;
}

.header_area .main-menu .nav-item .nav-link{
    font: normal 500 15px/2px var(--roboto);
    text-transform: uppercase;
    padding: 1.7rem;
    color: var(--title-color);
}

.header_area .main-menu .navbar-nav .active a{
    background: var(--gradient-color);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

.header_area .main-menu .navbar-nav a:hover{
    background: var(--gradient-color);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}


/* End Navigation */


/*Banner area*/

/*
.site-main .site-banner{
    background:url(../images/landing-page.svg) no-repeat 0% 50%;
}
*/

.site-main .site-banner .site-title h3::after{
    content:"";
    height: 2px;
    width: 10vw;
    background: black;
    display: inline-block;
    margin-left: 5%;
    transform: translateY(-10px);
}

.site-main .site-banner .site-title h3{
    padding-top: 60%;
    font-weight: 500;
}

.site-main .site-banner .site-title h1{
    font-size: 3rem;
}

.site-main .site-banner .site-title h4{
    font-size: 1.2rem;
}

.site-main .site-banner .banner-img > img{
    padding: 10rem 0;
    width: 90rem;
}

/*End Banner area*/

/*Start About Area*/

.site-main .about-area{
    padding: 8rem 5rem;
}

.site-main .about-area .about-title h2 > span{
    display: block;
    font: normal bold 49px/60px var(--roboto);
    letter-spacing: 21px;
}

.site-main .about-area .about-title .paragraph > p{
    padding: .4rem 0;
}

/*End About Area*/

/* Skills charts area */

.skills-area{
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    width: 100%;
    background: #19182d;
    margin-top: 50px;

}

.skills-area .box{
    width: 100%;

}

.skills-area .box h2{
    text-align: center;
    color: #ffffff;
    text-transform: uppercase;
    font-size: 1.4rem;
}

.skills-area .box .chart{
    position: relative;
    width: 180px;
    height: 180px;
    margin: 0 auto ;
    text-align: center;
    font-size: 48px;
    line-height: 180px;
    color: white;
}

.skills-area .box canvas{
    position: absolute;
    top: 0;
    left: 0;


}

.skills-area .row-pad{
    margin: 90px 0;
}

/* End Skills charts area */