html, body{
    margin: 0%;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
}

/* CSS Variables */
:root{
    --primary-color:#FFAA00; 
    --primary-color2:#705ECE; 
    --title-color: #141313; 
    --text-color:#777777; 
    --border-color:#201f1f17;
    --gradient-color: linear-gradient(90deg,#FFAA00 0%,#705ECE 100% ); 
    --shadow-color:0px 10px 30px rgba(118, 85, 225,0.3);
    --box-shadow:0px 10px 30px rgba(57, 56, 61,0.205);

    /*font family variables */
    --roboto:"Roboto", cursive;
}